@import "tailwindcss";



@utility container {
  margin-inline: auto;
  padding-inline: var(--container-padding);

  @media (min-width: 768px) {
    padding-inline: var(--container-padding-md);
  }
}

@theme {
  --color-primary: #12102a;

}
